/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&family=Work+Sans&display=swap');

/* Common Style */
* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    background: #FF900E;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    border-radius: 5px;
}

/* Header and Navigation Style */
.header {
    background: rgba(255, 144, 14, 0.1);
    height: 1120px;
}

.header nav {
    display: flex;
    justify-content: space-between;
    padding: 63px 200px 0px 200px;
}

.header .nav-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.header nav ul {
    display: flex;
    align-items: center;
}

.header nav ul li {
    list-style: none;
    margin-right: 50px;
    font-weight: 500;
    font-size: 18px;
    color: #424242;

}

/* banner style */
.banner {
    margin-top: 102px;
    text-align: center;
}

.banner .banner-title {
    color: #131313;
    font-weight: 700;
    font-size: 64px;
}

.banner .banner-description {
    color: #727272;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.banner img {
    width: 75%;
    height: 75%;
    border-radius: 8px;
    margin-top: 50px;
}

/* Quick List Section style */
.main {
    margin: 80px 180px 50px 180px;
    align-items: center;
}

.quick-list {
    display: flex;
}

.quick-list-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

.quick-list-images img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
}

.quick-list-info {
    margin-left: 50px;
    margin-top: 50px;
}

.quick-list-info-title {
    font-weight: 500;
    font-size: 45px;
}

.quick-list-info-title #span1 {
    color: #727272;
}

.quick-list-info-title #span2 {
    color: #FF900E;
}

.quick-list-info-description {
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 24px;
}

/* Features style */
.features {
    display: flex;
    margin-top: 100px;
    gap: 20px;
    height: 880px;
}

.feature-info {
    margin-top: 30px;
}

.feature-info-title {
    font-weight: 700;
    font-size: 45px;
}

.feature-info-description {
    color: #727272;
    font-size: 16px;
}

.feature {
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px 2px rgb(116, 114, 114);
    padding: 20px;
}

.feature .feature-title {
    font-weight: 600;
    font-size: 20px;
}

.feature .feature-description {
    margin-top: 10px;
    font-size: 16px;
    color: #727272;
}

.feature-image-box {
    position: relative;
}

.feature-image img {
    width: 450px;
    height: 800px;
    margin-left: 50px;
}

.experience-btn {
    position: absolute;
    top: 82%;
    left: 1%;
    padding: 15px 30px;
    background: #FF900E;
    border: 0;
    height: 120px;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    color: #ffffff;
    border-radius: 5px;
}

.experience-btn span {
    font-weight: 500;
    font-size: 20px;
}

/* some facts style */
.some-facts {
    margin-top: 80px;
}

.facts-title {
    font-weight: 700;
    font-size: 45px;
}

.facts-description {
    font-size: 16px;
    color: #727272;
    margin-top: 20px;
}

.some-facts-boxs {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.fact {
    padding: 10px;
    text-align: center;
    border: 2px solid salmon;
    border-radius: 5px;
}

.fact img:hover {
    transform: rotate(0.5turn);
}

.fact h4 {
    font-weight: 600;
    font-size: 45px;
}

.fact p {
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}

/* our sponspors style */
.our-sponspors {
    margin-top: 100px;
}

.our-sponspors-info {
    text-align: center;
}

.sponspors-company {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

/* footer style */
.footer {
    text-align: center;
    background: rgba(255, 144, 14, 0.1);
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 80px 180px 50px 180px;
}

.footer p {
    font-size: 20px;
    color: #424242;
}

/* footer end */
/* Media Query */
@media screen and (max-width:688px) {
    .header {
        height: 600px;
    }

    .header .nav-title {
        font-size: 30px;
    }

    .header nav {
        padding: 0;
        flex-direction: column;
    }

    .header nav ul {
        align-items: flex-start;
        flex-direction: column;
        padding: 0;
    }

    .banner {
        margin-top: 10px;
        text-align: start;
    }

    .banner .banner-title {
        font-size: 25px;
    }

    .banner .banner-description {
        font-size: 10px;
    }

    .main {
        margin: 0;
    }

    .quick-list {
        flex-direction: column;
        justify-content: flex-start;
        margin: 0;
    }

    .quick-list-images {
        grid-template-columns: repeat(1, 1fr);
    }

    .quick-list-info {
        margin-left: 0px;
        margin-top: 20px;
    }

    .quick-list-info-title {
        font-size: 30px;
    }

    .quick-list-info-description {
        font-size: 8px;
    }

    .features {
        height: auto;
        margin-top: 0px;
        gap: 0px;
        flex-direction: column;
    }

    .feature-info-title {
        font-size: 18px;
    }

    .feature-info-description {
        font-size: 10px;
    }

    .feature {
        padding: 5px;
    }

    .feature-image-box {
        margin-top: 15px;
    }

    .feature-image img {
        margin-left: 0px;
    }

    .btn {
        margin-top: 100px;
    }

    .some-facts {
        margin-top: 10px;
    }

    .some-facts-boxs {
        margin-top: 0px;
    }

    .some-facts-boxs {
        margin-top: 10px;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
    }

    .fact {
        margin: 5px;
    }

    .our-sponspors {
        margin-top: 10px;
    }

    element.style {}

    .facts-title {
        font-weight: 700;
        font-size: 45px;
    }

    .our-sponspors-info {
        text-align: start;
    }
    .facts-title{
        font-size: 25px;
    }
    .facts-description{
        font-size: 14px;
    }
    .sponspors-company{
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        padding: 5px;
    }
    .footer{
        text-align: start;
        padding: 0;
        margin: 0;
    }
}